body {
  background-image: url('https://svgshare.com/i/15CY.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.microphone-button {
  border: 2px solid #cccccc; /* Add a gray border */
  border-radius: 50%; /* Make the border perfectly round */
  padding: 10px;
  background-color: white;
  cursor: pointer;
  outline: none; /* Remove the default focus outline */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add a transition */
  display: flex; /* Center the microphone icon */
  justify-content: center;
  align-items: center;
  width: 50px; /* Set a fixed width */
  height: 50px; /* Set a fixed height */
}

.microphone-button:active {
  transform: scale(0.95); /* Make the button slightly smaller when it's clicked */
}

.microphone-button.active {
  background-color: #ccffcc; /* Add a new class for the active state */
}

.microphone-icon {
  width: 10px;
  height: 20px;
  background-color: #6c6c6c;
  border-radius: 5px;
  position: relative;
}

.microphone-icon::before {
  content: "";
  width: 14px;
  height: 6px;
  border: 3px solid #6c6c6c;
  border-top: none;
  border-radius: 7px;
  position: absolute;
  top: 20px;
  left: -2px;
}

#myModal img {
  width: 35%; 
  height: auto; 
}

.input-container {
  position: relative;
}

#cityInput, #citySuggestion {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

#cityInput {
  background: transparent;
  color: black;
}

#citySuggestion {
  color: lightgray;
}

.chat-box {
  width: 720px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.reveal-button {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  margin: 20px 0;
  cursor: pointer;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
}

.mystery-outfit {
  opacity: 0;
  display: none;
}

.mystery-outfit.visible {
  display: block;
  animation: fadeIn 1s ease-out forwards;
}

@keyframes shake {
  10%, 90% {
      transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
      transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
      transform: translate3d(4px, 0, 0);
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}